<div class="row mt-3 mb-5">
    <div class="col-12 col-md-9 mb-3" id="book-pane">
        <div class="card p-3">
            <!-- user settings -->
            <div class="font-weight-bold mb-1">
                Account Settings
            </div>
            <div class="d-flex flex-row align-items-center mb-1 px-2 bg-light">
                <span class="">
                    Verify Account
                </span>
                <span class="ml-2 error text-danger d-none">
                    Error occurred
                </span>
                <button onclick="initiateVerifyAccount(this)" <%=(currentUser.emailVerified)? 'disabled' : '' %>
                    class="ml-auto mb-0 btn btn-primary rounded-pill btn-fixed-size">
                    <%=(currentUser.emailVerified)? 'Verified' : 'Verify' %></button>
            </div>

            <div class="d-flex flex-row align-items-center mb-1 px-2 bg-light">
                <span class="">
                    Reset Password
                </span>
                <span class="ml-2 error text-danger d-none">
                    Error occurred
                </span>
                <button onclick="showResetPopout()"
                    class="ml-auto mb-0 btn btn-primary rounded-pill btn-fixed-size">Reset</button>
            </div>

            <div class="d-flex flex-row align-items-center mb-1 px-2 bg-light">
                <span class="">
                    Display Picture
                </span>
                <span class="ml-2 error text-danger d-none">
                    Error occurred
                </span>
                <button onclick="showDisplayPicPopout()"
                    class="ml-auto mb-0 btn btn-primary rounded-pill btn-fixed-size">Edit</button>
            </div>

            <div class="d-flex flex-row align-items-center mb-1 px-2 bg-light">
                <span class="">
                    Display Name
                </span>
                <span class="ml-2 error text-danger d-none">
                    Error occurred
                </span>
                <button onclick="showDisplayNamePopout()"
                    class="ml-auto mb-0 btn btn-primary rounded-pill btn-fixed-size">Edit</button>
            </div>
            <!-- application settings -->
            <% settingsList.forEach((settingGroup, index)=> { %>
                <div class="font-weight-bold mb-1">
                    <%=settingGroup.heading%>
                </div>

                <% settingGroup.options.forEach((option, index)=> { %>

                    <div class="d-flex flex-row align-items-center mb-1 px-2 bg-light">
                        <span class="">
                            <%=option.label%>
                        </span>
                        <% if(option.type=="toggle" ){ %>
                            <label class="ml-auto mb-0 setting-toggle switch">
                                <input type="checkbox" data-type="<%=option.type%>" data-key="<%=option.key%>"
                                    <%=(option.value)? "checked" : "" ; %> >
                                <span class="slider round"></span>
                            </label>
                            <% } %>
                                <% if(option.type=="timepicker" ){ %>
                                    <input type="time" class="time-input form-control ml-auto">
                                    <% } %>
                    </div>
                    <% }); %>
                        <% }); %>

        </div>
    </div>
    <div class="col-12 col-md-3 d-none d-md-flex">
        <div class="container-fluid p-0">
            <%- include('../components/widget-links', {})%>
        </div>
    </div>
</div>