<% try{ %>
    <div class="meeting mb-2 p-1 bg-white" data-id="<%=meeting.id%>">
        <div class="d-flex flex-row align-items-center cursor-pointer meeting-header" data-toggle="collapse"
            data-target="#meetingbody-<%=meeting.id%>" aria-expanded="true">
            <img src="/img/meetingicon.png" width="24" height="24" class="rounded-circle">
            <span class="mx-2">
                <%=meeting.author.displayname%>
            </span>
            <span class="text-muted">
                <%=ejsHelpers.timeSince(meeting.posted)%>
            </span>

            <div class="ml-auto">
                <a onclick="" class="dropdown" aria-current="page" id="meeting-ellipsis-<%=meeting.id%>"
                    data-toggle="dropdown" aria-expanded="false">
                    <svg class="bi" width="16" height="16" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#ellipsis"></use>
                    </svg>
                </a>
                <%- include('../components/meeting-dropdown', {id: meeting.id,canEdit: (currentUser &&
                    meeting.author._id.toString()==currentUser._id.toString())})%>
            </div>
        </div>
        <div class="card-body p-1 collapse show" id="meetingbody-<%=meeting.id%>">
            <div class="meeting-quote mb-1">
                <span class="font-weight-bold d-block">
                    <%=meeting.subject%>
                </span>
                <span class="d-block">
                    <%= `${ejsHelpers.getFriendlyDate(meeting.datetime)} at
                        ${ejsHelpers.getFriendlyTime(meeting.datetime)}` %>
                </span>
                <span class="d-block">
                    Repeat: <%= meeting.repeat %>
                </span>
                <% if(meeting.repeat=="weekly" ){ %>
                    <span class="d-block">
                        Duration: <%= meeting.repeatduration %> weeks
                    </span>
                    <% } %>
            </div>
            <div class="mb-1">
                <%-meeting.body%>
            </div>
        </div>
    </div>
    <% } catch(e){ console.log(e)} %>