<main class="bg-glass content-popout" id="popout-<%=id%>">
    <nav class=" d-flex flex-row flex-shrink-0 text-white align-items-center content-popout-nav
    bot-shadow-s" id="" style="background-color: #92929262;">
        <ul class="nav nav-pills nav-flush flex-row text-center align-items-center">
            <li class="nav-item">
                <a onclick="hidePopout('popout-<%=id%>');" class="nav-link text-white" aria-current="page"
                    id="content-popout-nav-close-<%=id%>">
                    <svg class="bi svg-shadow" width="24" height="24" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#back"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-flush flex-row text-center align-items-center ml-auto">
            <li class="nav-item">
                <a <%if(currentUser){ %>
                    onclick="bookmarkBook('popout-<%=id%>',this);"
                        <% }else{ %>
                            onclick="showLoginPopout('You must be signed in.');"
                            <% } %>
                                class="bookmark-button d-none nav-link text-white" aria-current="page"
                                id="content-popout-bookmark-<%=id%>">
                                    <svg class="bi svg-shadow" width="24" height="24" role="img" aria-label="Home"
                                        fill="currentColor">
                                        <use xlink:href="#bookmark" class="bookmark-xlink" id="popout-<%=id%>-bookmark">
                                        </use>
                                    </svg>
                </a>
            </li>
            <li class="nav-item dropdown-ellipsis">
                <a onclick="" class="dropdown text-white mr-3" aria-current="page" id="content-popout-ellipsis-<%=id%>"
                    data-toggle="dropdown" aria-expanded="false">
                    <svg class="bi svg-shadow" width="24" height="24" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#ellipsis"></use>
                    </svg>
                </a>
                <%- include('../components/popout-dropdown', {id: id})%>
            </li>
        </ul>
    </nav>
    <section class="container pt-3">
        <%- include('../preload-popout/books')%>
    </section>
</main>