<div class="row mb-3">
    <div class="col-12">
        <div class="card bot-shadow-s dropdown">
            <form action="/Books" method="GET">
                <div class="card-header d-flex flex-row align-items-center">
                    Filters
                    <span class="ml-auto">
                        <button class="btn btn-link p-0">
                            <svg class="bi cursor-pointer" width="16" height="16" fill="currentColor">
                                <use xlink:href="#refresh"></use>
                            </svg>
                        </button>
                        <svg class="bi text-muted cursor-pointer" width="16" height="16" fill="currentColor"
                            data-toggle="collapse" data-target="#filter-collapse" aria-expanded="false">
                            <use xlink:href="#arrow-d"></use>
                        </svg>
                    </span>
                </div>
                <div class="card-body collapse" id="filter-collapse">
                    <label for="opener" class="d-block">Book Opener</label>
                    <select name="fo" class="form-select w-100" multiple id="opener">
                        <option selected value="">Any</option>
                        <option value="Tara Wilde">Tara Wilde</option>
                        <option value="Danny DeVito">Danny DeVito</option>
                        <option value="Jane Doe">Jane Doe</option>
                    </select>
                    <label for="assignee" class="d-block">Book Assignee</label>
                    <select name="fa" class="form-select w-100" multiple id="assignee">
                        <option selected value="">Any</option>
                        <option value="Tara Wilde">Tara Wilde</option>
                        <option value="Jane Doe">Jane Doe</option>
                    </select>
                    <label for="client" class="d-block">Client</label>
                    <select name="fc" class="form-select w-100" multiple id="client">
                        <option selected value="">Any</option>
                    </select>
                    <label for="opened" class="d-block">Open Date</label>
                    <input type="text" class="form-control date-picker" placeholder="Any">
                    <label for="closed" class="d-block">Close Date</label>
                    <input type="text" class="form-control date-picker" placeholder="Any">
                    <label for="updated" class="d-block">Update Date</label>
                    <input type="text" class="form-control date-picker" placeholder="Any">
                    <label for="status" class="d-block">Book Status</label>
                    <select name="fs" class="form-select w-100" multiple id="status">
                        <option selected value="">Any</option>
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                        <option value="new">New</option>
                        <option value="inprogress">In Progress</option>
                        <option value="pending">Pending</option>
                        <option value="onhold">On Hold</option>
                    </select>
                    <label for="slastatus" class="d-block">SLA Status</label>
                    <select name="fss" class="form-select w-100" multiple id="slastatus">
                        <option selected value="">Any</option>
                        <option value="good">Good</option>
                        <option value="risk">Risk</option>
                        <option value="late">Late</option>
                    </select>
                    <label for="priority" class="d-block">Priority</label>
                    <select name="fp" class="form-select w-100" multiple id="priority">
                        <option selected value="">Any</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                    <!-- <svg onclick="showMiniPopout({id: 'addfilter'});" class="bi text-muted cursor-pointer" width="24"
                    height="24" fill="currentColor">
                    <use xlink:href="#plussign-fill"></use>
                </svg> -->
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.date-picker').datepicker({
    });
</script>