<div class="row mb-3">
    <div class="col-12">
        <div class="card bot-shadow-s">
            <div class="card-header">
                Book Clubs
            </div>
            <div class="list-group list-group-flush">
                <% clubs.forEach((club, index)=> { %>
                    <a href="#"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <%=club.name%>
                            <span class="badge badge-primary badge-pill">
                                <%=books.length%>
                            </span>
                    </a>
                    <% }); %>
            </div>
        </div>
    </div>
</div>