<main class="bg-dark-transparent content-minipopout d-none" id="minipopout-forgot">
    <div class="card bot-shadow-s card-minipopout">

        <div class="card-header d-flex flex-row align-items-center">
            <strong>Forgot Password</strong>
            <svg onclick="hideForgotPopout();" class="ml-auto bi text-muted cursor-pointer" width="16" height="16"
                fill="currentColor">
                <use xlink:href="#close-x"></use>
            </svg>
        </div>
        <div class="card-body">
            <small class="mb-2 d-block">
                <strong><a href="#" onclick="showLoginPopout();">Go Back</a></strong>
            </small>
            <div class="d-none alert alert-danger text-center" role="alert" id="minipopout-forgot-flash">

            </div>
            <form id="form-forgot">
                <p>
                    Enter the email address associated with your account, and if it is in the system we'll
                    send
                    you an email with a link to reset your password.
                </p>
                <div class="mb-3">
                    <label class="form-label mb-0" for="forgot-email"><small>Email</small></label>
                    <input class="form-control" type="text" id="forgot-email" name="email" required>
                </div>
                <button type="submit" class="rounded-pill btn btn-primary btn-block mt-2">Send</button>
            </form>
        </div>
    </div>
</main>