<form id="form-displaypic" class="img-upload">
    <img onclick="" class="displaypic-preview mb-1 rounded-circle border"
        src="<%=(currentUser)? currentUser.image.url: '/img/person-placeholder.jpg'%>" id="dppreview"></img>
    <div class="input-group mb-3 text-left">
        <div class="custom-file">
            <input name="displaypic" type="file" class="custom-file-input" id="displaypic-input">
            <label class="custom-file-label" for="displaypic-input">Choose
                file</label>
        </div>
    </div>

    <button type="button" class="rounded-pill btn btn-primary btn-block mt-4"
        onclick="sendUpdatedProfile(this)">Update</button>
</form>