<p>
    Copy the code below and send it to any friends you'd like to join your club!
</p>
<div id="gamecode" class="d-flex flex-row align-items-center">
    <input type="text" id="gamecodetext" class="form-control mr-2" data-code="<%=joinCode%>" value="<%=joinUrl%>"
        data-clubid="<%=id%>">
    <svg onclick="copyInput(this);" class="bi ml-auto cursor-pointer" width="16" height="16" role="img"
        aria-label="Home" fill="currentColor">
        <use xlink:href="#clipboard"></use>
    </svg>
</div>