<div class="row">
    <div class="col-12 col-sm-8 col-md-9 mb-3 pr-sm-0" id="book-pane">
        <!-- mockup book -->
        <%- include('../components/book-post', {expanded: expanded, books: books})%>

    </div>
    <div class="col-12 col-sm-4 col-md-3 mb-5 d-none d-sm-flex">
        <div class="container-fluid p-0">
            <%- include('../components/widget-club', {club: books[0].club, expanded: false, mini: false})%>
                <% if(books[0].meetings.length>0){ %>
                    <%- include('../components/widget-meetings', { meetings: books[0].meetings, expanded: false}) %>
                        <% } %>
                            <%- include('../components/widget-links', {})%>
        </div>
    </div>
</div>